[Desktop Entry]
Encoding=UTF-8
Name=番茄时钟
Comment=Tomato working method
Exec="/mnt/Projects/tomatoclock/tomato.py"
Icon=/mnt/Projects/tomatoclock/tomato.svg
Terminal=false
StartupNotify=true
Type=Application
Categories=Application;Tool;
